.clock-mouse-follower {
  position: absolute;
  z-index: 10000;

  padding: 0px 4px;
  border-radius: 4px;
  border: solid 1px #ccc;
  opacity: 0.75;

  background-color: white;
  font-size: 23px;
  line-height: 1.2;
  font-family: "Arial";
  text-align: right;
  user-select: none;
  color: black;
}

.timeOk {
  font-weight: normal;
}

.timeCritical {
  color: red;
  font-weight: bold;
}
